@*
    
*@
@{
    ViewData["Title"] = "Not Allowed";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="spark-post-feed">
            <div class=" spark-posts-feed">
                <div style="height:12vh"></div>
            <div class=" muted-text" style="font-size:2rem; display:flex; justify-content: center;">
                This post has limited access.
            </div>
        </div>
        </div>

    </div>
</div>