@page
@using Spark_SocialMediaApp.Models
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageNavPages.Settings;
}

<form asp-controller="Settings" asp-action="UpdateSettings" method="post">
    <div class="mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="PrivacyPublic" name="Settings.PrivacyPublic" value="true" @(Model.Settings.PrivacyPublic ? "checked" : "")>
            <input type="hidden" name="PrivacyPublic" value="false">
            <label class="form-check-label" for="PrivacyPublic">Public Profile</label>
        </div>
    </div>

    <h3>Content Filters</h3>

    @foreach (var filter in Model.Settings.ContentFilters)
    {
        <div class="mb-3">
            <div class="form-check">
                <input type="hidden" name="ContentFilters[@filter.Key]" value="false">
                <input type="checkbox" class="form-check-input" id="ContentFilters_@filter.Key" name="ContentFilters[@filter.Key]" value="true" @(filter.Value ? "checked" : "")>
                <label class="form-check-label" for="ContentFilters_@filter.Key">@filter.Key</label>
            </div>
        </div>
    }
    <input type="hidden" name="UserId" value="UserId">

    <button type="submit" class="btn btn-primary">Apply</button>
</form>