@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spark</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Spark_SocialMediaApp.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/defaults/spark-logo.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=Trocchi&display=swap" rel="stylesheet">

</head>
<div class="spark-presentation-page">
   

    <div class="spark-logo-icon-wrap-big" aria-hidden="true">

       

        <!-- base -->
        <svg class="spark-icon-layer" id="icon-base" viewBox="0 0 87 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(16.16, 16.11)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M5.63806 34.0254C9.65868 25.6727 13.9584 20.8257 18.5375 19.4845C25.406 17.4728 34.757 17.9032 36.2952 18.2213C37.3207 18.4333 28.3201 12.3887 15 0.0872803C3.32317 21.3341 0.277255 32.5501 0.155419 33.7354C-0.0273357 35.5132 -0.0273357 35.6535 5.63806 34.0254Z"
                      fill="#A4A4A4" stroke="#7B7B7B" stroke-width="0.208" stroke-linecap="square" stroke-linejoin="bevel" />
            </g>
            <g transform="translate(0, 31.48)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M26.5105 45.1705C26.143 53.1614 29.3427 59.412 36.1092 63.922C42.8758 68.4322 47.7713 71.3407 50.7955 72.6475L0.0194924 73.0125C0.109999 45.547 0.104186 25.6804 0.00205417 13.4126C-0.100078 1.14481 3.57817 -2.64169 11.0368 2.05308C12.6598 2.85778 17.8177 17.2303 26.5105 45.1705Z"
                      fill="#A4A4A4" stroke="#7B7B7B" stroke-width="0.208" stroke-linecap="square" stroke-linejoin="bevel" />
            </g>
        </svg>


        <!-- middle -->
        <svg class="spark-icon-layer" id="icon-middle" viewBox="0 0 87 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M54.9085 40.6507C49.6281 42.507 55.2505 39.9651 49.1002 32.9969C42.95 26.0286 41.6967 25.7665 36.2459 23.583C30.9017 21.3751 28.2433 17.0786 29.2869 22.1135C28.0377 34.1583 25.3791 31.695 23.3627 43.429C21.3461 55.1629 29.4268 63.4154 34.4215 62.2289C39.4161 61.0425 28.222 68.399 35.4407 74.7619C42.6596 81.1246 43.1997 81.6434 47.9055 81.0352C52.6115 80.427 45.8916 83.5524 40.6288 82.0445C35.366 80.5366 33.6869 79.9771 30.2825 80.3851C26.8781 80.7931 25.9891 80.1478 23.4791 80.6789C20.9691 81.21 26.6593 79.1806 21.7498 73.8799C16.8403 68.5792 17.1035 69.3797 14.505 67.0159C11.9065 64.6521 12.5962 61.074 6.57428 57.556C0.552361 54.038 0.154668 67.3789 0.053561 58.8446C-0.0138441 53.155 -0.0176285 32.202 0.0422076 -4.01477L57.9904 -3.89199L58.8037 -1.52134C59.5871 -0.0979974 60.9387 0.734099 62.8582 0.974949C65.7373 1.33623 67.016 2.41433 67.7681 3.9928C68.5201 5.57128 64.2518 1.2923 62.8545 10.9567C61.4573 20.6212 76.1602 28.4832 79.6196 24.9382C83.079 21.3932 75.9773 29.6799 81.206 36.7666C84.6917 41.4912 86.346 43.7075 86.1685 43.4157C86.3968 43.819 85.7114 45.9991 84.1124 49.9561C82.5133 53.9132 81.0522 57.6577 79.7289 61.1894C79.3718 56.2394 78.4666 52.9281 77.0133 51.2553C74.8333 48.7462 70.0799 48.5563 66.732 50.047M66.732 50.047C67.6536 46.5363 62.9616 39.4739 54.9085 40.6507L66.732 50.047Z"
                  fill="#EBEBEB" />
        </svg>

        <!-- accent -->
        <svg class="spark-icon-layer" id="icon-accent" viewBox="0 0 87 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- eyes -->
            <g transform="translate(37.82, 8.52)">
                <path id="icon-accent" fill-rule="evenodd" clip-rule="evenodd"
                      d="M0 0C6.97514 3.77402 10.8587 6.61857 11.6506 8.53365C12.4426 10.4487 12.8284 12.7287 12.8081 15.3737C10.4084 13.6975 8.04031 12.0602 5.60448 10.3396C3.81836 9.87891 1.98769 9.43466 0 9.04829C1.17776 5.21813 1.17776 2.20203 0 0Z"
                      fill="#A55AFC" />
            </g>
            <!-- flame -->
            <g transform="translate(38.52, 46.75)">
                <path id="icon-accent" fill-rule="evenodd" clip-rule="evenodd"
                      d="M19.6766 -4.70972e-05C24.3836 8.42794 28.8864 11.7306 33.185 9.9081C39.633 7.17415 23.0795 13.0497 23.9787 21.0081C24.8777 28.9665 32.1769 32.5279 25.4625 28.453C18.7483 24.3781 12.2977 21.0923 8.04443 23.1971C3.79123 25.302 17.2765 11.9372 3.81216 4.96415C-9.65228 -2.00887 16.6399 13.5117 19.6766 -4.70972e-05Z"
                      fill="#A55AFC" />
            </g>
        </svg>

    </div>
    <div class="spark-presentation-content">
        <h1 id="spark-presentation-title">.spark.</h1>
        <h3 id="spark-presentation-description">.by people. for people.</h3>

        <a class="spark-join-btn" asp-area="Identity" asp-page="/Account/Login"><span>Join Us</span></a>
    </div>
    <!-- flame-->
    <svg class="spark-presentation-flame" viewBox="0 0 307 100" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path d="M5.01229 83.8093C38.5946 73.2704 19.0467 22.4161 0 11.5426C23.8825 12.7627 39.8804 4.9072 48.998 -4.01477H307.253V99.8686H57.14C54.1327 91.8389 49.6216 76.2815 5.01229 83.8093Z"
              fill="url(#sparkBanner0)" />
        <path d="M5.01229 83.8093C38.5946 73.2704 19.0467 22.4161 0 11.5426C23.8825 12.7627 39.8804 4.9072 48.998 -4.01477H307.253V99.8686H57.14C54.1327 91.8389 49.6216 76.2815 5.01229 83.8093Z"
              fill="url(#sparkBanner1)" />
        <defs>
            <linearGradient id="sparkBanner0" x1="40.5995" y1="-24.5907" x2="54.1637" y2="22.0725" gradientUnits="userSpaceOnUse">
                <stop stop-color="#A55AFC" />
                <stop offset="1" stop-color="#623696" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="sparkBanner1" x1="40.5995" y1="89.3297" x2="72.1914" y2="74.3046" gradientUnits="userSpaceOnUse">
                <stop stop-color="#A55AFC" stop-opacity="0.37" />
                <stop offset="0.0913462" stop-color="#A55AFC" stop-opacity="0.37" />
                <stop offset="1" stop-color="#623696" stop-opacity="0" />
            </linearGradient>
        </defs>
    </svg>
</div>