@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="spark-post-feed">
            <div style="height:12vh"></div>
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

</div>
    </div>
</div>